<div id="profilePage">
  <h2>Profile Page for <%= @user.name %></h2>
  Edit me in app/view/users/show.html.erb
  <br>
  Hello etc etc
</div>

<div id="profilePage">
  <h2>Top/Latest Movie Posters go Here</h2>
  <hr>
  <h2>More Movies Here/Possibly Genres</h2>
</div>

<hr>

  <br>Genre Bars??<br><br><hr>
  <br>Genre Bars??<br><br><hr>
  <br>Genre Bars??<br><br><hr>
  <br>Genre Bars??<br><br><hr>
  <br>Genre Bars??<br><br><hr>
