/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#centreScreen{
  margin-left: 40vw;
}

#loginBoxBorder{
  background-color: lavender;
  width: 20vw;
  text-align: center;
  padding: 1px 0px 3px 0px;
  border-radius: 5px;
}

h1 {
  font-family: Gelasio, Arial, "Times New Roman";
  text-align: center;
}

p {
}

footer{
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  margin-left: 0px;
  background-image: linear-gradient(90deg, #43799c, #777b7e);
}
